*{
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-areas:
     "header header header"
     "main main main"
     "footer footer footer";
    grid-template-columns: 100px auto 100px;
}

header {
   grid-area: header;
}

footer {
   grid-area: footer;
}

main {
   grid-area: main;     
}

body{
    background-color: #D9D9D9;
}


p{
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin: 0px 10px;
    padding: 20px 10px;
    font-weight: bold;
    line-height: 1.5;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #404040;
    letter-spacing: normal;
    margin: 0px 10px;
    padding: 20px 10px;
    width: 100%;
    
    animation: backInLeft;
    animation-duration: 2s; 

    
}

h4, h5{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
    margin: 0px 10px;
    padding: 20px 10px;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    
    animation: bounce;
    animation-duration: 2s; 
    
}

h4{
    font-size: 12px;
    font-weight: bold;
}

h5{
    font-size: 10px;
    text-decoration: none;
    border-radius: 2px;
    border-color: dodgerblue;
    color: black;
}


/*inicia nav */
nav, .navbar{
	padding: 10px 40px 10px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #404040;
    z-index: 3;
}

	nav ul li{
			list-style: none;
			display: inline-block;
			margin: 0 10px;
            padding: 0% 20%;
            justify-content: flex-end;
		}

			nav ul li a{
				color:white;
				text-transform: uppercase;
				text-decoration: none;
			/*Subrayado animado*/
			  	background-image: linear-gradient(currentColor, currentColor);
   				background-position: 0% 100%;
    			background-repeat: no-repeat;
    			background-size: 0% 2px;
    			transition: background-size .3s;
			}

			a:hover, a:focus {
    			background-size: 100% 2px;
			}

.navbar-toggler{
    background-color: white;
    border: #D9D9D9;
    margin-left: 0%;
    width: 20%;
    
}

/*cierra nav */

ul{
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 12px;
    margin: 0px 30px;
    padding: 10px 50px;
}

main, footer{
        display: flex;
        justify-content:center;
        flex-direction: column;
}

form{
    margin: 20px;
    padding: 0px 100px;
    background-color: #2C5370;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder{
    color: #404040;
}

input, textarea, label, .row{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    color: #D9D9D9;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
}

option, select{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    color: #404040;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
}

button{
    color: #404040;
    border-color: #2C5370;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    background-color: #D9D9D9;
    letter-spacing: normal;
    color: #404040;
    width: 30%;
    padding: 12px 12px;
    margin-left: 35%;
}

button:hover{
    cursor: pointer;
}

section .Productos img{
    width: 15%;
}

.header-logo{
    margin-top: 0;
    width: 20%;
    
}

.header-logo, ul{
    display: inline;
}

.li-beneficios li{
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin: 0px 10px;
    padding: 0px 10px;
}

.portada{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    z-index: 2;
}

.fondo, .fondo h1{
    background-color: #2C5370;
    color: white;
    height: 60vh;
}

.portada h1{
    align-content: center;
     margin-top: 100px;
}

.portada h1, .portada h3, .main-EnvasadoAlVacio, .portada h2{
    position: relative;
    z-index: 5;
    align-items: center;
}

.portada img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
}

.portada-productos{
    align-content: center;
    margin-left: 20%;
    height: 100%;
}

.portada-productos img{
    width: 50%;
    height: 50%;

    margin-top: 30px;
    margin-left: 30px;

}

#productos img{
    margin: 0px 10px;
    padding: 10px 10px;
    width: 30%;
}

.Servicios {
    position: relative;
    overflow: hidden;
    padding: 5px;
     background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.Servicios h3, .Servicios p, .Servicios h5 {
    padding: 10px;
    position: relative;
    z-index: 2;
}

.Servicios img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.boton a{
    text-decoration: none;
    font-size: 12px;
    background-color: #D9D9D9;
    border-color: #1775BD;
    color: #404040;
    padding: 5px 5px;
    border-style: solid;
}

.Productos{
    background-color: #D9D9D9;
    color: #1775BD;
    text-align: start;
    padding: 0px 0px;
    margin: 0px;
    width: 100%;
}


.Productos a{
    text-decoration-line: none;
    color: #1775BD;
    padding: 10px;
}

.Productos p{
    font-size: 8px;
}

.header-logo:hover, .scale:hover{
    transform: scale(1.1);
    transition: transform 1s;
    cursor: pointer;
}

.main-EnvasadoAlVacio-queEs, .main-EnvasadoAlVacio-beneficios{
    color: #404040;
    text-align: justify;
    margin: 0px 0px;
    z-index: 5;
    font-size: 12px;
    width: 100%;
}

.main-EnvasadoAlVacio-queEs p, .main-EnvasadoAlVacio-beneficios p{
    font-size: 10px;
    text-align: justify;
    margin-left: 5px;
}

.main-EnvasadoAlVacio-queEs, .izquierda{
    animation: fadeInLeft;
    animation-duration: 2s;
}

.main-EnvasadoAlVacio-beneficios, .derecha{
    animation: fadeInRight;
    animation-duration: 2s;
}

.servicios{
    background-color: #D9D9D9;
    text-align: center;
    
}

.Servicios h3{
    color: #404040;
    padding: 20px 100px;
    margin-bottom: 0;
}

.Servicios p, .Servicios h5{
    color: black;
    font-size: 8px;
}

.servicios p, .servicios h2{
    color: #404040;
    padding: 10px;
}

.servicios h3, .servicios h2{
    color: #1775BD;
}

.footer-pieDePagina{
    height: 130px;
    margin-left: 20px;
    width: 100%;
}

.footer-pieDePagina-contacto{
    background-color: #D9D9D9;
    color: #1775BD;
    margin-left: 0;
}

.footer-pieDePagina-contacto h4{
    color: #1775BD;
    font-size: 10px;
}

.footer-pieDePagina-ubicacion{
    background-color: #D9D9D9;
    padding: 0px;
    margin-left: 0;
}

.footer-pieDePagina-ubicacion h3{
    color: #404040;
}

.footer-pieDePagina-ubicacion h4{
    color: #1775BD;
    font-size: 10px;
}

.iconos{
    display: flex;
	flex-direction: row;
    
}

#icono img{
    width: 20%;
}

.prod-productos, .sistTermo{
    margin: 15px;
    padding: 5px;
}

.prod-productos img {
    width: 100%;
    margin: 0px 10px;
    padding: 0px 10px;
}

.sistTermo img {
    width: 80%;
    margin: 0px 10px;
    padding: 0px 10px;
}

.prod-productos h3, .sistTermo h3{
    margin: 10px 20px;
    padding: 0px 20px;
}

.prod-productos li, .prod-grid-sistema li{
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0px 10px;
}

.DerReservados{
    background-color: #404040;
    position: relative;
    bottom: -170px;
    height: 55px;
}

.DerReservados h5{
    color: #D9D9D9;
    font-size: 8px;
}

.servicios-grid img{
    width: 50%;
}

.empresa{
    background-color: #2C5370;
    align-content: center;
    width: 100%;
}

.empresa h2{
    color: white;
    align-items: center;
    margin-left: 10px;
}

#empresa-descrip{
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    width: 100%;
}

#empresa-descrip p{
    color: #404040;
    width: 100%;
    height: 100px;
    align-content: center;
}

@media only screen and (min-width: 700px) {
    
    p{
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px 50px;
    padding: 20px 50px;
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        color: #404040;
        letter-spacing: normal;
        margin: 0px 50px;
        padding: 20% 100px;

    }

    h4, h5{
        font-family: 'Montserrat', sans-serif;;
        letter-spacing: normal;
        margin: 0px 50px;
        padding: 10px 50px;
    }

    h2, h3{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: normal;
        margin: 20px 50px;
        padding: 20px 10px;
        font-size: 30px;
        font-weight: bold;
        color: #404040;
    }

    h4{
        font-size: 20px;
        font-weight: bold;
    }

    h5{
        font-size: 16px;
        text-decoration: none;
        border-radius: 2px;
        border-color: dodgerblue;
        color: black;
    }
    
    .li-beneficios li{
        font-size: 10px;
    }
    
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #404040;
        height: 60px;
    }

    .header-logo{
        margin-left: 10px;
        width: 50%;

    }

    .header-logo, ul{
        display: inline;
    }

    .li-beneficios li{
        color: #404040;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        margin: 0px 10px;
        padding: 0px 10px;
        font-weight: bold;
    }

    .portada{
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        z-index: 2;

    }

    .fondo, .fondo h1{
        background-color: #2C5370;
        color: white;
        height: 100vh;
    }

    .portada h1{
        align-content: center;
    }

    .portada h1, .portada h3, .main-EnvasadoAlVacio, .portada h2{
        position: relative;
        z-index: 5;
        align-items: center;
    }

    .portada img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0.6;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .portada-productos{
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-left: 10%;
        height: 100vh;
    }

    .portada-productos img{
        width: 50%;
        height: 50%;

        margin-top: 150px;
        margin-left: 20px;

    }

    #productos img{
        margin: 0px 60px;
        align-items: center;
        width: 100%;
    }

    .Servicios {
        position: relative;
        overflow: hidden;
         background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .Servicios h3, .Servicios p, .Servicios h5 {
        position: relative;
        z-index: 2;
    }

    .Servicios img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0.6;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }

    .boton a{
        text-decoration: none;
        font-size: 12px;
        background-color: #D9D9D9;
        border-color: #1775BD;
        color: #404040;
        padding: 5px 5px;
        border-style: solid;
    }

    .Productos{
        background-color: #D9D9D9;
        color: #1775BD;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 0px 0px;
        margin: 0px;
        width: 100%;
    }


    .Productos a{
        text-decoration-line: none;
        color: #1775BD;
        padding: 10px;
    }

    .Productos p{
        font-size: 16px;
    }


    .servicios{
        background-color: #D9D9D9;
        text-align: center;
        
    }

    .servicios img{
        width: 40%;
    }
    
    .Servicios h3{
        color: #404040;
        padding: 20px 100px;
        margin-bottom: 0;
    }

    .Servicios p, .Servicios h5{
        color: black;
        font-size: 16px;
    }

    .servicios p, .servicios h2{
        color: #404040;
        padding: 10px;
        margin-left: 100px;
    }

    .servicios h3, .servicios h2{
        color: #1775BD;
    }
    
    .footer-pieDePagina h3{
        padding: 0 10px;
        line-height: 1.5;
    }

    .footer-pieDePagina-contacto h4, .footer-pieDePagina-ubicacion h4{
        color: #1775BD;
        font-size: 14px;
    }

    .footer-pieDePagina-ubicacion h3{
        color: #404040;
    }

    .iconos{
        display: flex;
        flex-direction: row;

    }

    #icono img{
        width: 20%;
    }

    .prod-productos, .sistTermo{
        margin: 15px;
        padding: 5px;
    }

    .prod-productos img {
        width: 20%;
        margin: 0px 40px;
        padding: 0px 40px;
    }

    .sistTermo img {
        width: 80%;
        margin: 0px 40px;
        padding: 0px 40px;
    }

    .prod-productos h3, .sistTermo h3{
        margin: 10px 40px;
        padding: 1px 40px;
    }

    .prod-productos li, .prod-grid-sistema li{
        color: #404040;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin: 0px 40px;
        padding: 0px 40px;
    }


    .DerReservados{
        background-color: #404040;
        position: relative;
        bottom: -170px;
        height: 40px;
    }

    .DerReservados h5{
        color: #D9D9D9;
        font-size: 8px;
    }

    .servicios-grid img{
        width: 50%;
    }

    .empresa{
        background-color: #2C5370;
        align-content: center;    
    }

    .empresa h2{
        color: white;
        align-items: center;
        margin-left: 50px;
    }

    #empresa-descrip{
        background-color: #D9D9D9;
        
    }

    #empresa-descrip p{
        color: #404040;
        
        height: 100px;
        align-content: center;
    }

    .main-envasado{
    display: flex;
    flex-direction: column;
    justify-items: normal;
    }

    
    .main-EnvasadoAlVacio h4{
    font-size: 22px;
    }
    
    .main-EnvasadoAlVacio p, .main-EnvasadoAlVacio li{
    font-size: 16px;
    }
    
    #productos img{
        width: 40%;
        align-content: center;
    }
    
    .boton a{
        font-size: 14px;
    }

    
    .section-productos{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 600px 600px;
        grid-template-rows: 500px 500px;
        align-content: center;
        margin: 0 auto;
        padding: 50px 50px;
    }
    
    .Servicios-grid{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 500px 500px;
        grid-template-rows: 200px 200px;
        align-items: center;
        padding: 10px 100px; 
    }
    
    .servicios-grid{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 600px 600px;
        grid-template-rows: 500px 500px;
        align-content: center;
        margin: 30px;
    }

    .iconos{
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        padding: 0 10%;
    }
    
    section .Productos img{
        width: 35%;
    }
    
    .main-EnvasadoAlVacio {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 600px 600px;
    grid-template-rows: 350px 350px;
    align-content: center;
    margin: 0 auto;
    padding-left: 50px;
    }
    
    .prod-grid{
    max-width: 900px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 600px 600px;
    grid-template-rows: 350px 350px;
    align-items: center;
    }
    
    .prod-grid-pequeña{
    max-width: 500px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 600px 600px;
    grid-template-rows: 205px 205px;
    align-content: center;
    }
    
    .prod-grid img, .prod-grid-pequeña img, .prod-grid-sistema img{
        width: 60%;
    }
    
    .prod-grid-sistema .cinta img{
        width: 70%;
    }
    
    .prod-grid-tresbottom{
    max-width: 500px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 135px 135px 135px;
    align-content: center;
    }
    
    .prod-grid-tres{
    max-width: 500px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 110px 110px 110px;
    align-content: center;
    }
    
    .prod-grid-tres img, .prod-grid-tresbottom img{
        width: 90%;
    }
    
    .prod-grid-sistema{
    max-width: 900px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 600px 600px;
    grid-template-rows: 150px 150px;
    align-items: center;
    margin-top: 70px; 
    }
    
    .prod-grid-sistema img{
        align-content: center;
        width: 50%;
        margin-left: 180px;
    }
    
    .batea img{
        width: 40%;
        margin-top: 90px;
        margin-left: 200px;
    }
    
    .footer-pieDePagina{
        display: grid;
    
        max-height: 40px;
        grid-gap: 1rem;
        grid-template-columns: 600px 600px;
        grid-template-rows: 10px 10px;
    }


    





