* {
  margin: 0;
  box-sizing: border-box; }

ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  font-size: 12px;
  margin: 0px 30px;
  padding: 10px 50px; }
  ul li {
    padding: 20px 50px;
    display: inline-block; }
  ul a {
    text-decoration: none; }

nav {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px; }

nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  /*Subrayado animado*/
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

a:hover, a:focus {
  background-size: 100% 2px; }

header {
  background-color: #D9D9D9;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }
  header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #404040;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20% 100px; }

main {
  background-color: #404040; }
  main h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20px 50px;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9; }
  main h3 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20px 50px;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9; }
  main p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20px 50px;
    font-size: 18px;
    color: #D9D9D9; }

footer {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #D9D9D9; }
  footer h3 {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20px 50px;
    font-size: 24px;
    font-weight: bold; }
  footer h4 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    margin: 0px 50px;
    padding: 20px 50px;
    color: #1775BD; }